.footer{
  width: 100%;
  background: #111;
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 40px 20px;
  margin-top: 40px;
}

.item{
  text-align: center;
}

.item h2{
  font-size: 40px;
  color: #ff5a7a;
  margin: 0;
}

.item p{
  margin: 5px 0 0;
  font-size: 14px;
  opacity: 0.8;
}
